[submodule "DasiaAIO-Backend"]
	path = DasiaAIO-Backend
	url = https://github.com/Cloudyrowdyyy/DasiaAIO-Backend.git
[submodule "DasiaAIO-Frontend"]
	path = DasiaAIO-Frontend
	url = https://github.com/Cloudyrowdyyy/DasiaAIO-Frontend.git